* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

body {
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 900px;
  background: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .3);
  border-radius: 5px;
  overflow: hidden;
}

.translator_property {
  border: 1px solid #c7c7c783;
}

.translator_property .nuv_item{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid #c7c7c7;
  padding: 0 20px;
}